こんにちは、 <%= @receiver.name %>さん！

˖✧˖✧✧˖˖✧✧˖˖✧✧˖˖✧✧˖˖✧✧˖✧˖˖✧˖✧✧˖

<%= @sender.name %>さんより素敵なファンレターが届いています！

▼マイページで見る</p>
https://goenbako.com/me/home

ファンレターの返信やTwitterでレターをシェアしてリアクションをしてみましょう！

▼<%= @sender.name %>さんのご縁箱ページ
↓↓↓↓↓↓↓↓↓↓↓
https://goenbako.com/<%= @sender.twitter_id %>

˖✧˖✧✧˖˖✧✧˖˖✧✧˖˖✧✧˖˖✧✧˖✧˖˖✧˖✧✧˖

通知を変更する場合は"Menu"→"設定"から設定することが出来ます。

※本メールに身に覚えのない方はお手数ですが返信にてお知らせ下さい。

°˖✧ご縁箱✧˖°
