こんにちは、 <%= @receiver.name %>さん！

˖✧˖✧✧˖˖✧✧˖˖✧✧˖˖✧✧˖˖✧✧˖✧˖˖✧˖✧✧˖

<%= @sender.name %>さんより素敵なファンレターが届いています！

▼マイページで見る</p>
https://goenbako.com/mypage

ファンレターの返信やTwitterでレターをシェアしてリアクションをしてみましょう！

▼<%= @sender.name %>さんのご縁箱ページ
↓↓↓↓↓↓↓↓↓↓↓
https://goenbako.com/<%= @sender.twitter_id %>

˖✧˖✧✧˖˖✧✧˖˖✧✧˖˖✧✧˖˖✧✧˖✧˖˖✧˖✧✧˖

通知をオフにする場合はマイページの設定画面から変更することが出来ます。

※本メールに身に覚えのない方はお手数ですが返信にてお知らせ下さい。

°˖✧ご縁箱✧˖°
