<td style="padding-top:20px; padding-bottom:50px;">
  <p>こんにちは、<%= @receiver.name %>さん！</p>

  <p>˖✧˖✧✧˖˖✧✧˖˖✧✧˖˖✧✧˖˖✧✧˖✧˖˖✧˖✧✧˖</p>

  <p><%= @sender.name %>さんより素敵なファンレターが届いています！</p>

  <p>▼マイページで見る</p>
  <p>https://goenbako.com/mypage</p>

  <p>ファンレターの返信やTwitterでレターをシェアしてリアクションをしてみましょう！</p>

  <p>▼<%= @sender.name %>さんのご縁箱ページ</p>
  <p>↓↓↓↓↓↓↓↓↓↓↓</p>
  <p>https://goenbako.com/<%= @sender.twitter_id %></p>

  <p>˖✧˖✧✧˖˖✧✧˖˖✧✧˖˖✧✧˖˖✧✧˖✧˖˖✧˖✧✧˖</p>
  <p>通知をオフにする場合はマイページの設定画面から変更することが出来ます。</p>

  <p>※本メールに身に覚えのない方はお手数ですが返信にてお知らせ下さい。</p>

  <p>°˖✧ご縁箱✧˖°</p>
</td>
