
<div class="space-x-5 m-10 flex w-5/6 bg-gray-100 p-2 rounded-xl items-center">
  <%= image_tag @user.image %>
  <div class="ml-4">
    <p>
      <%= @user.name %>
    </p>
    <p class="text-xs mt-1 text-gray-600">
      <%= @user.twitter_id %>
    </p>
      <p class="ml-4">
      <%= @user.introduce %>
    </p>
  </div>
</div>
